<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">
    <div class="overlay"></div>

    <div class="hero-content">
        <h1 class="fade-in">Face Recognition Attendance System</h1>
        <p class="fade-in delay">AI Based Smart Staff Attendance</p>

        <p class="madeby fade-in delay2">
            Made by <span>Mohamed Younus</span>
        </p>

        <div class="button-group fade-in delay2">
            <a href="/register" class="btn">Register Staff</a>
            <a href="/train" class="btn">Train Model</a>
            <a href="/start" class="btn primary">Start Attendance</a>
            <a href="/attendance" class="btn">View Attendance</a>
        </div>
    </div>
</div>

<footer>
    © 2026 Face Recognition Attendance System | Made by <strong>Mohamed Younus</strong>
</footer>

</body>
</html>